html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color:rgb(48, 48, 48);
    margin: 0;
}

.image {
    width: 100%;
}

/* NAVBAR */

.logo {
    color: rgb(61, 43, 109);
    margin-right: 20rem;
    font-size: 2rem;
}

.navbar {
    width: 100%;
    display: flex;
    position: fixed;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    background-color: rgb(105, 105, 105);
}

.navbarItem {
    margin-left: 6rem;
    font-weight: bold;
    transition: 0.2s;
    margin-top: 2rem;
}

.navbarItem:hover {
    color: rgb(182, 182, 182);
}